@import "tailwindcss";
@plugin "daisyui";

.container{
    max-width: 90%;
    margin: 0 auto;
}
/* Chrome, Safari, Edge uchun */
::-webkit-scrollbar {
  display: none;
}

/* Firefox uchun */
html {
  scrollbar-width: none;
}


@media screen and (max-width:450px) {
    .container{
    max-width: 95%;
    margin: 0 auto;
}

}
  @media (max-width: 480px) {
    .slick-slide {
      width: 100% !important;
      padding: 0 !important;
    }
    .slick-track {
      display: flex !important;
    }
  }